body{
    overflow-x: hidden;
overflow-y: scroll;
}

.categories > li{
    display: inline-block;
    padding: 15px;
}

.categories > li > a{
  color: #E83C42;
  font-weight: 600;
  font-size: 18px;
}

.categories > li > a:focus{
  text-decoration: none;
}

.categories > li > a[aria-expanded="true"]{
  border-bottom: 3px solid #E83C42
}

.items{
  padding-left: 40px;
}
.item{
    width: 225px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    transition: box-shadow 0.38s cubic-bezier(0.4,0,0.2,1);
    border-radius: 2px;
    display: inline-block;
    font-weight: 300;
    margin: 10px;
    cursor: pointer;
}

.item:hover{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.60)
}

.item-image{
  position: relative;
}

.item-price{
    position: absolute;
    height: 50px;
    width: 50px;
    right: 8px;
    bottom: 8px;
    padding-left: 13px;
    line-height: 50px;
    background-color: rgba(216, 34, 34, 0.52);
    border-radius: 50%;
    font-weight: 500;
    font-size: 21px;
    color: white;
}

.item img{
    width: 225px;
    height: 200px;
}

.item-description{
  padding-left: 30px;
  line-height: 65px;
  border-top: 1px solid #eee;
}

