.calculator-container{
  overflow: hidden;
  /*position: ''*/
}
.calculator{
  position: fixed;
  border-left: 16px solid #FFC8C8;
  height: 100%;
  width: 420px;
  background-color: #FFF5F5;
  right: 0px;
  padding-top: 62px;
}

.calculator table{
  margin-left: 20px;
  width: 380px;
}

.calculator input[type='number']{
  width: 50px;
  border: none;
  background: none;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 0.5px solid #FFC8C8;
  border-bottom: 0.5px solid #FFC8C8;
}


.calc-buttons{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 404px;
}

.calc-button{
  width: 50%;
  height: 70px;
  background-color: #FBA2A4;
  border: none;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 17px;
}

.calc-button::first-child{
  border-right: 1px solid #FFC8C8;
}
.calc-button:nth-child(2){
  border-left: 1px solid #FFC8C8;
}

#orders-url {
  text-align: center;
}
