{% extends 'index-base.html' %}
{% load staticfiles %}

{% block title %}
    В гостях у Джангиста
{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'menu/css/menu.css' %}" rel="stylesheet">
    <link href="{% static 'order/css/order.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script src="{% static 'menu/js/order.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="">
        <div class="row">
            <div class="col-md-8">
                {% regroup food_items by category as food_by_category %}
                <!-- Nav tabs -->
                <ul class="categories" role="tablist">
                    {% for food in food_by_category %}
                        <li role="presentation" {% if forloop.counter == 1 %} class="active" {% endif %}>
                            <a href="#tab-{{ forloop.counter }}"
                               {% if forloop.counter == 1 %} aria-expanded="true" {% endif %}
                               aria-controls="tab-{{ forloop.counter }}"
                               role="tab"
                               data-toggle="tab">
                                {{ food.grouper }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    {% for food in food_by_category %}
                        <div role="tabpanel" class="tab-pane {% if forloop.counter == 1 %} active {% endif %}" id="tab-{{ forloop.counter }}">
                            <div class ="items">
                                {% for item in food.list %}
                                        <div class="item">
                                            <div class="item-image">
                                                <img src='{{ item.image.url }}' />
                                                <div class='item-price'>{{ item.price }}</div>
                                            </div>
                                            <div class="item-description">{{ item.name }}</div>
                                        </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% include 'order/order_inc.html' %}
        </div>
    </div>
{% endblock %}
