{% extends 'index-base.html' %}
{% load staticfiles %}

{% block title %}
    В гостях у Джангиста
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'statistic/js/chart.min.js' %}"></script>
    <script src="{% static 'statistic/js/chart_stat.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 center-block">
                <canvas id="myChart" width="800" height="200"></canvas>
                <b>Сколько заказов и на какую сумму было сделано по дням за месяц</b><br>
                <ul id="by-days-in-month">
                    {% for order in by_days_in_month %}
                        <li data-date="{{ order.date }}">
                            Дата: {{ order.date|date:"D d M Y" }}
                        </li>
                        <ul>
                            <li data-sum="{{ order.sum_ }}">
                                Сумма: {{ order.sum_ }}
                            </li>
                            <li>
                                Количество: {{ order.c }}
                            </li>
                        </ul>
                    {% endfor %}
                </ul>
                <b>Сколько заказов и на какую сумму было сделано по месяцам за год</b><br>
                <ul>
                    {% for order in by_months_in_year %}
                        <li>
                            Дата: {{ order.date|date:"F" }}
                        </li>
                        <ul>
                            <li>
                                Сумма: {{ order.sum_ }}
                            </li>
                            <li>
                                Количество: {{ order.c }}
                            </li>
                        </ul>
                    {% endfor %}
                </ul>
                <b>Сколько каких блюд было заказано за день</b><br>
                <ul>
                    <li>
                        День: {% now "d M Y" %}
                    </li>
                    {% for order in food_count_by_day %}
                        <ul>
                            <li>
                               Блюдо: {{ order.food__name }}
                            </li>
                            <ul>
                                <li>
                                    Количество: {{ order.sum_count }}
                                </li>
                            </ul>
                        </ul>
                    {% endfor %}
                </ul>
                <b>Сколько каких блюд было заказано за месяц</b><br>
                <ul>
                    <li>
                        Месяц: {% now "M Y" %}
                    </li>
                    {% for order in food_count_by_month %}
                        <ul>
                            <li>
                               Блюдо: {{ order.food__name }}
                            </li>
                            <ul>
                                <li>
                                    Количество: {{ order.sum_count }}
                                </li>
                            </ul>
                        </ul>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
