{% extends 'index-base.html' %}
{% load staticfiles %}

{% block title %}
    В гостях у Джангиста
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 center-block">
                <h1>Чек заказа</h1>
                <ul>
                    <li>Номер заказа: {{ order.id }}</li>
                    <li>Время: {{ order.time }}</li>
                    <li>Дата: {{ order.date }}</li>
                    <li>Общая стоимость заказа: {{ order_sum }}</li>
                </ul>
                <table class="table">
                    <thead> <tr> <th></th> <th>Наименование</th> <th>Кол-во</th> <th>Цена</th>  <th>Общая цена</th></tr> </thead>
                    <tbody>
                        {% for number, food in order_items.items %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td class="calc-description">{{ food.description }}</td>
                                <td>{{ food.count }}</td>
                                <td class="calc-price">{{ food.priceForOne }}</td>
                                <td class="calc-price-sum">{{ food.price }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
