            <div class="col-md-4 calculator-container">
                <div class="calculator">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_staff %}
                            <div id="orders-url">
                                <a href="{% url 'order:orders_daily' %}">Заказы текущего дня</a>
                            </div>
                            <div id="orders-url">
                                <a href="{% url 'statistic:stat' %}">Общая статистика</a>
                            </div>
                        {% endif %}
                        <div id="orders-url">
                            <a href="{% url 'order:orders' %}">Мои заказы</a>
                        </div>
                    {% endif %}
                    <table class="table">
                        <thead> <tr> <th></th> <th>Наименование</th> <th>Кол-во</th> <th>Цена</th>  <td></td></tr> </thead>
                        <tbody>
                            <tr hidden>
                                <th scope="row"></th>
                                <td class="calc-description"></td>
                                <td><input type="number" min="1" value="1"></td>
                                <td class="calc-price"></td>
                                <td>&#10006;</td>
                            </tr>
                            {% for number, food in request.session.order.items %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td class="calc-description">{{ food.description }}</td>
                                    <td><input type="number" min="1" value="{{ food.count }}"></td>
                                    <td class="calc-price" data-price="{{ food.priceForOne }}">{{ food.price }}</td>
                                    <td>&#10006;</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <th scope="row"></th>
                                <th>Итого</th>
                                <td></td>
                                <th></th>
                            </tr>
                         </tbody>
                    </table>

                    <div class="calc-buttons" >
                        <button id="calc-clear" class='calc-button'>Очистить</button><button id="calc-order" class='calc-button'>Оформить заказ</button>
                    </div>
                </div>
            </div>
