{% extends 'index-base.html' %}
{% load staticfiles %}

{% block title %}
    В гостях у Джангиста
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script src="{% static 'js/notify.js' %}"></script>
    <script src="{% static 'order/js/check_new_orders.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 center-block">
                {% if is_daily_orders %}
                    <h1>Список заказов текущего дня</h1>
                {% else %}
                    <h1>Список заказов</h1>
                {% endif %}
                {% if not orders %}
                    <p>Заказы не найдены!</p>
                {% else %}
                    {% for i, order in orders.items %}
                        <b>Заказ №{{ forloop.counter }}</b>
                        <ul class="order-info">
                            <li data-id="{{ order.order.id }}">Номер заказа: {{ order.order.id }}</li>
                            <li>Время: {{ order.order.time }}</li>
                            {% if not is_daily_orders %}
                                <li>Дата: {{ order.order.date }}</li>
                            {% else %}
                                <li>{{ order.sum }}</li>
                                <li><a href="{% url 'order:check' id=order.order.id %}">Страница чека</a></li>
                            {% endif %}
                        </ul>
                        {% if not is_daily_orders %}
                            <table class="table">
                                <thead> <tr> <th></th> <th>Наименование</th> <th>Кол-во</th> <th>Цена</th>  <th>Общая цена</th></tr> </thead>
                                <tbody>
                                    {% for order_item in order.order_items %}
                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td class="calc-description">{{ order_item.food.name }}</td>
                                            <td>{{ order_item.count }}</td>
                                            <td class="calc-price">{{ order_item.food.price }}</td>
                                            <td class="calc-price-sum">{% widthratio order_item.count 1 order_item.food.price %}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <br>
                        {% endif %}
                    {% endfor %}
                    {% if is_daily_orders %}
                        <p><b>Общая информация:</b></p>
                        <ul>
                            <li>Сумма всех заказов: {{ orders_sum }}</li>
                            <li>Количество заказов: {{ orders_count }}</li>
                        </ul>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
