{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block css %}
        <link href="{% static 'css/bootstrap_sandstone.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% endblock %}
  </head>
  <body>
      {% block body %}
      {% endblock %}
      {% block js %}
          <script src="{% static 'js/jquery.min.js' %}"></script>
          <script src="{% static 'js/bootstrap.min.js' %}"></script>
      {% endblock %}
  </body>
</html>
